@model NoteApp.Models.Note

<form method="post" asp-action="Create">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Создать заметку</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="NoteName"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="NoteText"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <input asp-for="NoteName" class="form-control" />
                    </div>
                    <div class="col-4">
                        <input asp-for="NoteText" class="form-control" />
                        <span asp-validation-for="NoteText" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 row">
                        <div class="col">
                            <input type="submit" class="btn btn-success w-75" value="Создать" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-danger w-75 mx-3">Назад</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

