@model NoteApp.Models.Expense

<form method="post" asp-action="Delete">
    <input asp-for="Id" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Удалить покупку</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ExpenseName"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="ExpensePrice"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <input asp-for="ExpenseName" disabled class="form-control" />
                    </div>
                    <div class="col-4">
                        <input asp-for="ExpensePrice" disabled class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 row">
                        <div class="col">
                            <input type="submit" class="btn btn-danger w-75" value="Удалить" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-75 mx-3">Назад</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

